<footer class="bg-dark text-white text-center py-4">
  <div class="container">
    <div>
      <a href="https://www.tiktok.com/pizzaupps" target="_blank" class="text-white mx-2"
        ><i class="bi bi-tiktok"></i
      ></a>
      <a
        href="https://www.instagram.com/pizzaupps"
        target="_blank"
        class="text-white mx-2"
        ><i class="bi bi-instagram"></i
      ></a>
      <a
        href="https://wa.me/6287730282628"
        target="_blank"
        class="text-white mx-2"
        ><i class="bi bi-whatsapp"></i
      ></a>
    </div>
    <a
      href="https://maps.app.goo.gl/DWKpoangAHs2ahJVA"
      target="_blank"
      class="text-white text-decoration-none d-block mb-2"
    >
      <i class="bi bi-geo-alt-fill"></i> Bebel, Wonokerto, Pekalongan
    </a>
    <p class="mb-0">&copy; 2025 Pizza Upps. All Rights Reserved.</p>
  </div>
</footer>
